.advantages { 
   padding: 70px 0 78px 0;
   background-color: #f6f6f6;
   &__wrapper {
      margin-top: 65px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 95px;
   }
   &__card {
      text-align: center;
   }
   &__title {
      margin-top: 38px;
      font-size: 18px;
      font-weight: 700;
   }
   &__text {
      margin-top: 26px;
      font-size: 14px;
      font-weight: 300;
      max-width: 243px;
      span {
         color: #ff0000;
      }
   }
   &__icon {
      &_animated {
         animation: heartbeat 1.5s ease infinite;
         &:hover {
            animation-play-state: paused;
         }
      }
   }
}