.reviews {
   padding-bottom: 71px;
   &__wrapper {
      margin-top: 70px;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   hr {
      height: 1px;
      margin: 48px 0px 53px 0px;
      background-color: #f6f6f6;
   }
   &__img {
      margin-right: 62px;
   }
   &__content {
      max-width: 650px;
   }
   &__name {
      font-size: 18px;
      font-weight: 700;
   }
   &__marathon {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 300;
      color: #646464;
   }
   &__text {
      margin-top: 19px;
      font-size: 16px;
      font-weight: 300;
   }
}