@font-face {
   font-family: 'Museo Sans Cyrl';
   font-display: auto;
   src: local('MuseoSansCyrl-500')
   url('../src/fonts/MuseoSansCyrl-500.woff2') format('woff2'),
   url('../src/fonts/MuseoSansCyrl-500.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
