
//Обнуление стилей
@import "reset";
//Шрифты
@import "fonts";
//Переменные и миксины
@import "variables";
@import "mixins";

// Блоки
@import "blocks/promo";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";

//Плавный скролл
@import "blocks/pageup";

//Модальные окна
@import "blocks/modal";

//Повторяющиеся блоки
@import "blocks/buttons";
@import "blocks/forms";

//Адаптив
@import "media";

//Анимация
@import "animation";

//Общие стили
* {
   font-family: 'Museo Sans Cyrl', sans-serif;
}
body {
   color: $color_black;
   font-size: 14px;
}
.container {
   max-width: 980px;
   margin: 0 auto;
   padding: 5px 15px;
}
.title { 
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   color: $color_black;
   text-transform: uppercase;
}